version: "3.7"

services:

  cli:
    volumes:
      - *SOLUTION PATH*/symfony:/var/www/symfony/
    environment:
      APP_ENV: dev
      XDEBUG_CONFIG: remote_host=host.docker.internal remote_port=9003 remote_connect_back=0

  host_loader:
    volumes:
      - *SOLUTION PATH*/symfony:/var/www/symfony/

  host_consumer:
    volumes:
      - *SOLUTION PATH*/symfony:/var/www/symfony/

  event_consumer:
    volumes:
      - *SOLUTION PATH*/symfony:/var/www/symfony/

  error_consumer:
    volumes:
      - *SOLUTION PATH*/symfony:/var/www/symfony/